<form action="/" method="POST" style="text-align:center">
  <div class="container">
    <input class="mb-3 bg-light" type="url" name="original_url" placeholder="Input URL here"
      style="width: 30%; margin: 20px;" required>
  </div>
  <button type="submit" class="btn btn-outline-primary">Shorten!</button>
</form>