<div class="container d-inline">
  <h2>Success!Please use this link:
    <a href="/{{ shortUrl }}" class="short-url" target="_blank">http://localhost:3000/{{ shortUrl }}</a>
  </h2>
  <button type="button" class="btn btn-success">Copy</button>
  <a href="/" class="btn btn-dark">Back!</a>

</div>