<h2>Success!Please use this link:</h2>
<div class="container d-inline">
  <a href="#" class="short-url">http://localhost:3000/12345</a>
  <button type="button" class="btn btn-outline-success">Copy</button>

</div>