<div class="container d-inline">
  <h2>Success!Please use this link:
    <a href="" class="short-url">http://localhost:3000/{{ shortUrl }}</a>
  </h2>
  <button type="button" class="btn btn-outline-success">Copy</button>

</div>